<%= form_with(model: weekly_menu, local: true) do |form| %>
<% if weekly_menu.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(weekly_menu.errors.count, "error") %>
      prohibited this weekly_menu from being saved:</h2>

    <ul>
      <% weekly_menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :start_date, class: 'form-control-label' %>
  <%= form.date_select :start_date, class: 'form-control' %>
</div>

<div class="control-group">
  <%= form.label "Day Available", class: 'control-label' %>
  <div class="controls">
    <%= form.select(:weekly_menu, options_for_select([['MONDAY', 'MONDAY'], ['TUESDAY', 'TUESDAY'], ['WEDNESDAY', 'WEDNESDAY'], ['THURSDAY', 'THURSDAY'], ['FRIDAY', 'FRIDAY'], ['SATURDAY', 'SATURDAY'], ['SUNDAY', 'SUNDAY']])) %>
  </div>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>