<%= form_with(model: meal, local: true) do |form| %>
<% if meal.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(meal.errors.count, "error") %>
      prohibited this meal from being saved:</h2>

    <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :name, class: 'form-control-label' %>
  <%= form.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :side_dish, class: 'form-control-label'%>
  <%= form.text_field :side_dish, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :description, class: 'form-control-label' %>
  <%= form.text_area :description, class: 'form-control' %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>